<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ipl.manager.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="ipl.manager.pojo.Role" >
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="search_count" property="searchCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, search_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from role_info
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from role_info;
  </select>
  <select id="getMinId" resultMap="BaseResultMap">
    select id from role_info order by id ASC LIMIT 1;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from role_info
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="ipl.manager.pojo.Role" >
    insert into role_info (id, name, search_count
      )
    values (#{id,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, #{searchCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ipl.manager.pojo.Role" >
    insert into role_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="searchCount != null" >
        search_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="searchCount != null" >
        #{searchCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ipl.manager.pojo.Role" >
    update role_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="searchCount != null" >
        search_count = #{searchCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ipl.manager.pojo.Role" >
    update role_info
    set name = #{name,jdbcType=VARCHAR},
      search_count = #{searchCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=SMALLINT}
  </update>
</mapper>